.navbar {
  height: 60px;

  background-color: #e9b872;
  box-shadow: 0px 5px 25px 2px rgba(0, 0, 0, 0.42);

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: start;
  align-items: center;

  &-links {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
  }
  &-link {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 400;
    color: #3f4950;
    transition: 0.3s ease-in-out;
    &:hover {
      color: #595c88;
    }
  }
}

.selected {
  color: #2d3439;
  font-size: 2rem;
  font-weight: 600;
}
